@import "../sass/utils/variables";
@import "../sass/utils/global";
@import "../sass/components/header";
@import "../sass/components/logo";
@import "../sass/components/menu";
@import "../sass/components/contact-data";
@import "../sass/components/main-background";
@import "../sass/components/btn";
@import "../sass/components/modal";
@import "../sass/components/contact-form";
@import "../sass/components/function";
@import "../sass/components/job";
@import "../sass/components/team";
@import "../sass/components/clients";
@import "../sass/components/footer";
@import "../sass/components/logo-footer";
@import "../sass/components/footer-address";
@import "../sass/components/footer-icon";
@import "../sass/components/newsletter-section";
@import "../sass/components/newsletter-button";
