.our-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
}

.icon-clients {
    display: flex;
    gap: 30px;
}
.icon-clients__logo {
    width: 106px;
    height: 60px;
}

.icon-clients__customer-icon {
    cursor: pointer;
    border: 1px solid $border-color2;
    display: flex;
    padding: 16px 32px;
    fill: $color-text7;

    border-radius: 4px;
    transition: fill $transition $transition-timing-function,
        border-color $transition $transition-timing-function;
    &:hover {
        border: 1px solid $border-color3;
        fill: $color-text3;
    }
}
