.wrapper-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-form {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-inline-end: 0;
    margin-block-end: 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
}
.input-wrapper__label {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &:has(.input-wrapper__field:focus) .input-wrapper__icon {
        fill: $color-text3;
    }
}

.input-wrapper__text {
    display: flex;
    margin-block-end: 0;
    color: $color-text1;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
}

.input-wrapper__field {
    width: 440px;
    height: 35px;
    border-radius: 4px;
    padding-left: 50px;
    border: 1px solid $border-color6;
    transition: border-color $transition $transition-timing-function;
    &:focus {
        outline: 0;
        border-color: $color-text3;
    }
}

.input-wrapper__icon {
    height: 24px;
    position: absolute;
    top: 46px;
    right: 266px;
    transition: fill $transition $transition-timing-function;
}

.input-wrapper__field--area {
    width: 438px;
    height: 138px;
    resize: none;
    border: 1px solid $border-color6;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 4px;
    transition: border-color $transition $transition-timing-function;

    &:focus {
        outline: 0;

        border-color: $border-color3;
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox-wrapper__legal-text {
    color: $color-text1;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    position: relative;
}
.checkbox-wrapper__label {
    border: 1px solid $color-text2;
    width: 16px;
    height: 15px;
    position: absolute;
    top: 19px;
    right: 394px;
    cursor: pointer;
    transition: $border-color transition $transition-timing-function;
}

.checkbox-wrapper__checkbox {
    visibility: hidden;
    transition: background-color $transition $transition-timing-function;
    &:checked + .checkbox-wrapper__check {
        background-color: $background-color6;
    }
}
.checkbox-wrapper__check {
    width: 16px;
    height: 15px;
    position: absolute;
    right: -1px;
    top: -1px;
    fill: $color-text5;
    transition: background-color $transition $transition-timing-function;
}

.checkbox-wrapper__text-link {
    color: $color-text3;
}
