.icon-list__list--padding {
    padding-inline-start: 0;
    margin-block-start: 0;
    padding-bottom: 0;
}
.icon-list__list--position {
    justify-content: center;
}
.icon-list__icon-link--footer {
    background-color: $background-color7;
    color: $color-text5;
    &:hover {
        background-color: $background-color6;
    }
}
.text-icon {
    font-size: 14px;
    color: $color-text5;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.footer-icon {
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
@media (min-width: $tablet) {
    .footer-icon {
        padding-top: 60px;
    }
}
@media (min-width: $desktop) {
    .footer-icon {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        padding-top: 50px;
    }
}
