.footer-li {
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    display: flex;
    flex-direction: column;

    gap: 10px;
}
.footer-li__address {
    color: $color-text5;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-li__contact-footer {
    text-decoration: none;
    color: $color-text6;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.71;
}
.address-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.footer-li__contact-footer--underline {
    text-decoration: underline;
}
@media (min-width: $desktop) {
    .footer-li {
        margin-top: 0;
    }
    .footer-li__contact-footer {
        display: block;
    }
    .address-element {
        align-items: flex-start;
    }
    .footer-li__contact-footer {
        text-align: start;
    }
}
