.icon-list__list--padding {
    padding-inline-start: 0;
    margin-block-start: 0;
}

.icon-list__icon-link--footer {
    background-color: $background-color7;
    color: $color-text5;
    &:hover {
        background-color: $background-color6;
    }
}
.text-icon {
    font-size: 14px;
    color: $color-text5;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.footer-icon {
    align-items: center;
    flex-direction: column;

    padding: 60px 40px;
}
