.footer-element {
    background-color: $background-color1;
}
.footer-elements {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    text-decoration: none;
}
@media (min-width: $desktop) {
    .footer-elements {
        flex-direction: row;
        justify-content: space-around;
    }
}
