.web-studio {
    text-decoration: none;
    color: $color-text4;
    margin-top: 5px;
    font-weight: 700;

    font-family: $font-family-second;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.web-studio__web-studio--blue {
    color: $color-text3;
}
