.logo-footer__color--white {
    color: $color-text5;
}
.logo-footer {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    font-family: $font-family-second;
}
.logo-footer__color--blue {
    color: $color-text3;
}
