.main-section {
    background-color: $background-color2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient($linear-gradient, $linear-gradient),
        url("../images/main/background-image.jpg");
    background-size: cover;
    padding: 200px 0;
}
.main-background {
    max-width: 1600px;
    margin: 0 auto;
}
.main-background__text {
    width: 696px;
    margin-block-start: 0;
    margin-block-end: 0;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-text5;
}
