.media-mobile {
    display: flex;
    gap: 10px;
}
.media-mobile__element {
    text-decoration: none;
    color: $color-text3;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-left: 1px solid $border-color6;
    padding-left: 8px;
}
.media-mobile__element--besides {
    text-decoration: none;
    color: $color-text3;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
}
