.mobile-btn {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: $background-color;
}
.nav {
    display: none;
}

.none {
    display: none;
}

.hamburger-menu {
    background-color: $background-color;
    border: 0;

    &:hover {
        fill: $color-text3;
    }
}

.mobile-btn__close {
    position: absolute;
    right: 0;
    top: 11px;
    background-color: $background-color;
    border: 0;
    &:hover {
        fill: $color-text3;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    margin-left: 40px;
    padding-inline-start: 0;
}
.menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-text2;

    text-decoration: none;
}

.menu__nav-link--visited {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: 0;
    color: $color-text2;
    &:visited {
        color: $color-text3;
    }
}
@media (min-width: $tablet) {
    .mobile-menu {
        display: none;
    }
    .hamburger-menu {
        display: none;
    }
    .nav {
        display: flex;
    }
    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 0;
        position: relative;
        margin-block-end: 0;
    }

    .menu__nav-link {
        font-size: 14px;
        line-height: 1.14;
        transition: color $transition;
        transition-timing-function: $transition-timing-function;
        &:hover {
            color: $color-text3;
        }
    }
    .menu__nav-link--visited {
        font-size: 14px;
        line-height: 1.14;
    }
    .menu__active--page {
        &:after {
            content: "";
            position: absolute;
            background-color: $background-color6;
            top: 44px;
            height: 4px;
            width: 100%;
            left: 0;
            border-radius: 2px;
        }
    }
}
@media (min-width: $desktop) {
    .hamburger-menu {
        display: none;
    }
}
