.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $backdrop-transparency;
    transition: transform $transition;
    display: flex;
    z-index: 3;
}

.is-hidden {
    transform: translateX(-100%);
}
.backdrop__modal {
    width: 580px;
    height: 640px;
    background-color: $background-color;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 3px $color-shadow1, 0 1px 1px $color-shadow2,
        0 2px 1px $color-shadow3;
}

.backdrop__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: $background-color;
    border: 1px solid $border-color4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 10px;
    position: absolute;
}
