.body {
    font-family: $font-family-first;
    color: $color-text2;
    margin: 0;
}
.container {
    max-width: 1200px;
    width: 100%;

    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    margin-block: 94px;
}
.item {
    list-style: none;
}
