$background-color: #ffffff;
$color-text1: #757575;
$color-text2: #212121;
$color-text3: #2196f3;
$background-color6: #2196f3;
$color-text4: #000000;
$color-text5: #ffffff;
$color-text7: #afb1b8;
$background-color1: #2f303a;
$color-shadow: rgba(0, 0, 0, 0.15);
$color-shadow1: rgba(0, 0, 0, 0.12);
$color-shadow2: rgba(0, 0, 0, 0.14);
$color-shadow3: rgba(0, 0, 0, 0.2);
$color-shadow4: #00000040;
$background-color2: #2f303a;
$background-color3: #e5e5e5;
$background-color7: rgba(0, 0, 0, 0.25);

$color-text6: rgba(255, 255, 255, 0.6);
$backdrop-transparency: rgba(0, 0, 0, 0.2);
$border-color: #ececec;
$background-color4: #f5f4fa;

$border-color1: #eeeeee;
$border-color2: #afb1b8;
$border-color3: #2196f3;
$border-color4: rgba(0, 0, 0, 0.1);
$border-color5: rgba(255, 255, 255, 0.3);
$border-color6: rgba(33, 33, 33, 0.2);

$border-radius: 4px;
$linear-gradient: rgba(47, 48, 58, 0.4);
$background-color8: rgba(47, 48, 58, 0.8);
$transition: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-first: "Roboto", sans-serif;
$font-family-second: "Raleway", sans-serif;
